<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript">
    function ChatMessageForm__submit(form) {
        form.writer.value = form.writer.value.trim();
        if ( form.writer.value.length == 0 ) {
            alert('작성자를 입력해주세요.');
            form.writer.focus();

            return false;
        }

        if ( form.body.value.length == 0 ) {
            alert('내용을 입력해주세요.');
            form.body.focus();

            return false;
        }

        const writer = form.writer.value;
        const body = form.body.value;

        $.post(
            form.action,
            {
                csrfmiddlewaretoken: form.csrfmiddlewaretoken.value,
                writer,
                body
            },
            function(data) {
                console.log(data);
            },
            'json'
        );

        form.body.value = '';
        form.body.focus();
    }

    let ChatMessages__lastMessageId = 0;

    function ChatMessages__loadMore() {
        $.get(
            '{% url 'chat:messages' %}',
            {
                from_id: ChatMessages__lastMessageId
            },
            function(data) {
                for ( let messageKey in data.messages ) {
                    const message = data.messages[messageKey];
                    ChatMessages__lastMessageId = message.id;
                    ChatMessages__renderMessage(message);
                }

                setTimeout(ChatMessages__loadMore, 500);
            },
            'json'
        );
    }

    function ChatMessages__renderMessage(message) {
        $('.chat-messages').prepend(`<div>${message.writer} : ${message.body}</div>`);
    }

    ChatMessages__loadMore();

    </script>
</head>
<body>

<form action="{% url 'chat:message_write' %}" onsubmit="ChatMessageForm__submit(this); return false;">
    {% csrf_token %}
    <input type="text" placeholder="작성자" name="writer">
    <input type="text" placeholder="내용" name="body">
    <input type="submit" value="작성">
</form>

<div class="chat-messages">
    <div></div>
</div>
</body>
</html>